.dropdown {
  float: left;
  margin: 20px;
  height: 50px;
  width: 140px;
  border-radius: 10px;
  background-color: rgb(100, 158, 201);
  border: 2px solid white;
  border-style: outset;
  padding: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-weight: bold;
}
