.App {
  font-family: Corbel, corbel, sans-serif;
}

.Header-logo {
  width: 170px;
  border-right: 1px solid rgb(167, 169, 172);
}

.Header-name {
  font-weight: bold;
  margin-left: 40px;
}

.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: black;
  border-bottom: 3px solid rgb(167, 169, 172);
}

body {
  background-color: rgb(0, 83, 161);
}

.propDropdown {
  float: left;
  margin: 20px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  background-color: rgb(100, 158, 201);
  border: 2px solid white;
  border-style: outset;
  padding: 15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-weight: bold;
}

.addButton {
  float: left;
  margin: 20px;
  height: 40px;
  border-radius: 10px;
  width: 40px;
  background-color: rgb(100, 158, 201);
  border: 2px solid white;
  border-style: outset;
  padding: 10px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  font-weight: bold;
}

.addButton:hover {
  background-color: rgb(255, 167, 0);
}

.addButton:active {
  border-style: inset;
}

.choices {
  width: 100%;
  border-bottom: 5px double rgb(167, 169, 172);
}
